﻿<!DOCTYPE html>
@using ami.Models;
@model ami.Models.AmiModel
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/css")" rel="stylesheet" type="text/css" />
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/themes/base/css")" rel="stylesheet" type="text/css" />
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
    <script src="../../Scripts/ami.js" type="text/javascript"></script>
    <script src="http://twitterjs.googlecode.com/svn/trunk/src/twitter.min.js" type="text/javascript" />
    
    <script type="text/javascript" charset="utf-8">
        getTwitters('tweet', {
            id: 'rem',
            count: 1,
            enableLinks: true,
            ignoreReplies: true,
            clearContents: true,
            template: '"%text%" <a href="http://twitter.com/%amiseattle%/statuses/%id_str%/">%time%</a>'
        });
    </script>
</head>
<body class="body">
    <div id="test"></div>
    <div class="maindiv">
        <table>
            <tr>
                <td style="background-color: #ffffff;">
                    <header class="header">
                        <div>
                            <p class="bismilah">
                                بسم الله الرحمن الرحيم</p>
                        </div>
                        <div>
                            <p class="bismilah-arabic">
                                In the name of Allah, Most Gracious, Most Merciful
                            </p>
                        </div>
                        <div class="float-left">
                            <table>
                                <tr>
                                    <td>
                                        <img src="~/Images/logo.jpg" alt="" />
                                    </td>
                                    <td>
                                        Ahmadiyya Muslim Community
                                        <br />
                                        <label id="ChapterName">
                                            USA</label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="float-right">
                            Muslims who believe in the Messiah and Imam Mahdi
                            <br />
                            Hadhrat Mirza Ghulam Ahmad Qadiani (as).
                        </div>
                    </header>
                </td>
            </tr>
            <tr>
                <td>
                    <nav class="main-nav">
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", new { id = @Model.id })</li>
                            |
                            <li>@Html.ActionLink("About", "About", new { chapterID = @Model.id })</li>
                            |
                            <li>@Html.ActionLink("Contact Us", "Contact", new { chapterID = @Model.id })</li>
                            |
                            <li><a href="https://mail.amiseattle.org/">Email</a></li>
                            <li class="float-right">
                                <div>
                                    @using (Html.BeginForm("Index", "Home"))
                                    {
                                        @Html.DropDownList("id",
                new SelectList(Model.GetChapters(Model.chapterRepository),
                                               "ChapterID", "ChapterName", Model.id)
                                                                                   , new { id = "ChapterDropDownList", onchange = "submit();" });
                                    }
                                </div>
                            </li>
                        </ul>
                    </nav>
                </td>
            </tr>
        </table>
        <div class="f1">
            @RenderBody()
        </div>
        <div class="footersection">
            <section>
                <section class="feature float-left">
                    <div class="highlight">
                        <h3>
                            <a href="http://www.alislam.org/islam/" class="fontcolor" target="_blank">Islam</a>
                        </h3>
                        <p class="fontcolor">
                            Islam is the religion that represents the pinnacle of religious evolution.
                        </p>
                        <div class="float-left">
                            <div class="float-left">
                                <table>
                                    <tr>
                                        <td class="fontcolor">
                                            <img src="~/Images/muhammad.jpg" />
                                        </td>
                                        <td class="fontcolor">
                                            <a href="http://www.alislam.org/islam/" class="fontcolor" target="_blank">Muhammad (saw)<br />
                                                The Holy Prophet<br />
                                            </a>
                                            <br />
                                            Messenger of God and the Seal of the Prophets.
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <p class="fontcolor">
                                <a href="http://www.alislam.org/books/study-of-islam/unity.html" class="fontcolor"
                                    target="_blank">The Belief in the Unity of God</a><br />
                                <a href="http://www.alislam.org/books/study-of-islam/angels.html" class="fontcolor"
                                    target="_blank">The Belief in the Angels of God</a><br />
                                <a href="http://www.alislam.org/islam/" class="fontcolor" target="_blank">The Six main
                                    Articles of Islam</a><br />
                                <a href="http://www.alislam.org/islam/" class="fontcolor" target="_blank">The Five Pillars
                                    of Islam</a>
                                <br />
                            </p>
                        </div>
                    </div>
                </section>
                <section class="feature">
                    <div class="highlight">
                        <h3>
                            <a href="http://www.alislam.org/introduction/index.html" class="fontcolor" target="_blank">
                                Ahmadiyya</a></h3>
                        <p class="fontcolor">
                            Ahmadiyyat is the revival of Islam prophesied to unite mankind in the Latter Days.
                        </p>
                        <div class="float-left">
                            <table>
                                <tr>
                                    <td>
                                        <img src="~/Images/hadhrat.jpg" />
                                    </td>
                                    <td class="fontcolor">
                                        <a href="http://www.alislam.org/topics/messiah/index.php" class="fontcolor" target="_blank">
                                            Hadhrat Mirza Ghulam<br />
                                            Ahmad Qadiani (as)<br />
                                        </a>
                                        <br />
                                        The Promised Messiah and Imam Mahdi.
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <p class="fontcolor">
                            <a href="http://www.alislam.org/introduction/index.html" class="fontcolor" target="_blank">
                                A Community established by God</a><br />
                            <a href="http://www.alislam.org/books/truth/finality.html" class="fontcolor" target="_blank">
                                About the Finality of Prophethood</a><br />
                            <a href="http://www.alislam.org/library/books/revelation/part_7_section_3.html" class="fontcolor"
                                target="_blank">About the death of Jesus (as) and his return</a><br />
                            <a href="http://www.alislam.org/library/links/00000082.html" class="fontcolor" target="_blank">
                                The Re-instition of Khilafat</a>
                            <br />
                        </p>
                    </div>
                </section>
                <section class="feature float-right">
                    <div class="highlight">
                        <h3 class="fontcolor">
                            <a href="http://www.alislam.org/topics/khilafat/" class="fontcolor" target="_blank">
                                Khilafat</a></h3>
                        <p class="fontcolor">
                            After Prophethood, Khilafat is the most important institution in Islam.
                        </p>
                        <div class="float-left">
                            <table>
                                <tr>
                                    <td>
                                        <img src="~/Images/hazoor-02.jpg"  />
                                    </td>
                                    <td class="fontcolor">
                                        <a href="http://www.alislam.org/khilafat/fifth/" class="fontcolor" target="_blank">Hadhrat
                                            Mirza Masroor Ahmad (aba)</a>
                                        <br />
                                        <br />
                                        The Champion of Peace and Defender of Islam.
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <p class="fontcolor">
                            <a href="http://www.alislam.org/topics/khilafat/" class="fontcolor" target="_blank">
                                Khilafat mentioned in the Holy Quran</a><br />
                            <a href="http://www.alislam.org/topics/khilafat/" class="fontcolor" target="_blank">
                                Khilafat mentioned in the Hadith</a><br />
                            <a href="http://www.alislam.org/topics/khilafat/" class="fontcolor" target="_blank">
                                The Khalifa is elected by God himself</a><br />
                            <a href="http://www.alislam.org/topics/khilafat/" class="fontcolor" target="_blank">
                                The Devision between State and Faith</a>
                        </p>
                    </div>
                </section>
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>
                        &copy; @DateTime.Now.Year - Ahmadiyya Muslim Community</p>
                </div>
                <div class="float-right">
                    <ul id="social">
                        <li><a href="http://twitter.com" class="twitter">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
