﻿@using ami.Models;
@model ami.Models.Contact
@{
    ViewBag.Title = "Contact Us";
}

<label class="viewname"><b>Ahmadiyya Muslim Community<br />
19212 Highway 99<br /> Lynnwood, WA<br /><br /><br /></b></label>

 
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>       
    <legend>Contact Us</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextBox("Name", String.Empty)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
             @Html.TextBoxFor(model => model.Email,new { maxlength = "100" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PhoneNo)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.PhoneNo)
            @Html.ValidationMessageFor(model => model.PhoneNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Message)
        </div>
        <div class="message-field">
            @Html.TextAreaFor(model => model.Message)
            @Html.ValidationMessageFor(model =>model.Message)
        </div>

        <p>
            <input type="submit" value="Submit" />
        </p>
    </fieldset>
}