﻿@model ami.Models.EventRegistration
@{
    ViewBag.Title = "EventRegistration";
}

Muhmmad - Mercy for all Mankind<br />

<br/>
Muhammad(SAW) was given the title of “mercy for all creation”— what does this mean? <br />
How did he practice this in his daily life? How can one emulate being merciful to all creation?

<br /><br />

Date : 	Nov 10 2013
<br /><br />
Time : 	12:15 PM to 2:00 PM
<br /><br />
Location : 	Ahmadiyya Muslim Center
<br /><br />
click for more details
<br /><br />

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>       
    <legend>Event Registration</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextBox("Name", String.Empty)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
             @Html.TextBoxFor(model => model.Email,new { maxlength = "100" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PhoneNo)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.PhoneNo)
            @Html.ValidationMessageFor(model => model.PhoneNo)
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.NumberOfPersons)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.NumberOfPersons, new { @Value = "0" })
            @Html.ValidationMessageFor(model => model.NumberOfPersons)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Message)
        </div>
        <div class="message-field">
            @Html.TextAreaFor(model => model.Message)
            @Html.ValidationMessageFor(model =>model.Message)
        </div>

        <p>
            <input type="submit" value="Submit" />
        </p>
    </fieldset>
}
