﻿@{
    ViewBag.Title = "AMI Seattle";
}
<h3>
    Home</h3>
<section id="three-third" class="home">
    <!-- 1st row -->
    <article class="homepage-heading two-articles-per-row fl">
        <h3>
            Twitter</h3>
        <div class="textwidget">
            <figure>
                <figcaption>
                    <p>
                        <a class="twitter-timeline" href="https://twitter.com/sulemanmubarik" data-widget-id="400153838507679744">
                            Tweets by sulemanmubarik</a>
                        <script> !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } } (document, "script", "twitter-wjs");</script>
                    </p>
                </figcaption>
            </figure>
        </div>
    </article>
    <article class="two-articles-per-row fr">
        <!--<header>-->
        <h3>
            Calendar
        </h3>
        <!--			</header>-->
  
            
        <figure>          
            <figcaption>
                <time datetime="15.03.2013" pubdate=""></time>
                <span class="category"><a href="http://www.ahmadiyya-islam.org/friday-sermon/archives/2013/">
                    </a> </span>
               
            </figcaption>
        </figure>
    </article>
    <h3 class="clr mulmedbox">
        Watch latest videos from our Media Library</h3>
    <article class="clr one-articles-per-row">
        <div class="fl">
            <div class ="mulmed1">
                <script src="http://www.gmodules.com/ig/ifr?url=http://www.google.com/ig/modules/youtube.xml&amp;up_channel=RaheHudaArchives1&amp;synd=open&amp;w=320&amp;h=390&amp;title=&amp;output=js"></script>
            </div>
        </div>
        <div class="fl">
           <div class ="mulmed2">
                <script src="http://www.gmodules.com/ig/ifr?url=http://www.google.com/ig/modules/youtube.xml&amp;up_channel=mtaOnline1&amp;synd=open&amp;w=320&amp;h=390&amp;output=js"></script>
            </div>
        </div>
        <br class="clr">
    </article>
</section>
