﻿@model ami.Models.AmiModel
@{
    ViewBag.Title = "Ahmadiyya Muslim Community";
}

<h3 class="viewname" style="margin-left:10px;">Ahmadiyya Muslim Community</h3>
<section style="height:800px;">
    <div style="height:400px;">
        <!-- 1st row -->
        <article class="homepage-heading eventImg fl">
            <p  class="aboutText">
                The Ahmadiyya Muslim Community is a dynamic, fast  growing international revival movement within Islam. Founded in 1889, it spans over 200 countries with membership exceeding tens of millions.
                Its current headquarters are in the United Kingdom.
            </p>
            <p class="aboutText">
                Ahmadiyya Muslim Community is the only Islamic organization to believe that the long-awaited
                <a href="http://www.alislam.org/topics/messiah/">Messiah</a> has come in the person of  <a href="http://www.alislam.org/topics/messiah/">Mirza Ghulam Ahmad<sup>(as)</sup> (1835-1908) of Qadian. Ahmad<sup>(as)</sup></a>
                claimed to be the metaphorical second coming of <a href="http://www.alislam.org/topics/jesus/">Jesus<sup>(as)</sup></a> of  Nazareth and the divine guide, whose advent was foretold by the <a href="http://www.alislam.org/holyprophet/">Prophet of  Islam, Muhammad<sup>(sa)</sup></a>.
                Ahmadiyya Muslim Community believes that <a href="http://www.alislam.org/allah/">God</a> sent Ahmad<sup>(as)</sup>, like <a href="http://www.alislam.org/topics/jesus/">Jesus<sup>(as)</sup></a>,  to end religious wars, condemn bloodshed and reinstitute morality, justice and  peace. Ahmad&rsquo;s<sup>(as)</sup>
                advent has brought about an unprecedented era of Islamic revival. He divested Islam of fanatical beliefs and practices by vigorously championing Islam&rsquo;s true and  essential teachings. He also recognized the noble teachings of the great religious founders and saints,
                including Zoroaster<sup>(as)</sup>, Abraham<sup>(as)</sup>, Moses<sup>(as)</sup>, <a href="http://www.alislam.org/topics/jesus/">Jesus<sup>(as)</sup></a>, Krishna<sup>(as)</sup>, Buddha<sup>(as)</sup>, Confucius<sup>(as)</sup>, Lao Tzu and Guru  Nanak, and explained how such teachings converged into the one true Islam.
            </p>
        </article>
        <article class="eventImg fr">
            <p>
                <img src="~/Images/PromisedMessiah.jpg" />
            </p>
            </article>
    </div>
    <div>
        <p class="aboutText">
            Ahmadiyya Muslim Community is the leading Islamic organization to categorically  reject <a href="http://www.alislam.org/terrorism.html">terrorism</a> in any form. Over a century ago, Ahmad<sup>(as)</sup> emphatically declared that an  aggressive &ldquo;<a href="http://www.alislam.org/jihad/sword.html">jihad by the sword</a>&rdquo; has no place in Islam. In its place, he taught his  followers to wage a bloodless, intellectual &ldquo;<a href="http://www.alislam.org/library/links/00000064.html">jihad of the pen</a>&rdquo; to defend Islam.  To this end, Ahmad<sup>(as)</sup>  penned over <a href="http://www.alislam.org/books/">80  books</a> and tens of thousands of letters, delivered hundreds of lectures, and  engaged in scores of public debates. His rigorous and rational defenses of Islam  unsettled conventional Muslim thinking. As part of its effort to revive Islam, Ahmadiyya Muslim Community continues to spread Ahmad&rsquo;s<sup>(as)</sup> teachings of moderation and restraint in the face of bitter opposition from parts of the Muslim world.
        </p>
        <p class="aboutText">
            Similarly, it is the only Islamic organization to endorse  a separation of mosque and state. Over a century ago, Ahmad<sup>(as)</sup> &nbsp;taught his followers to protect the sanctity of both religion and government by becoming  righteous souls as well as loyal citizens. He cautioned against irrational interpretations of Quranic pronouncements and misapplications of Islamic law. He continually voiced his concerns over protecting the rights of God&rsquo;s creatures. Today, it continues to be an advocate for universal human rights and protections for  religious and other minorities. It champions the empowerment and education of women. Its members are among the most law-abiding, educated, and engaged Muslims in the world.
        </p>

        <p class="aboutText">
            Ahmadiyya Muslim Community is the foremost Islamic organization with a central  spiritual leader. Over a century ago, Ahmad<sup>(as)</sup> reminded his followers of God&rsquo;s promise to safeguard  the message of Islam through <em><a href="http://www.alislam.org/topics/khilafat/">khilafat</a></em> (the spiritual institution of successorship to prophethood). It believes that only spiritual successorship can uphold the true values of Islam and unite humanity. Five spiritual leaders  have succeeded Ahmad<ssup>(as)</ssup>  since his demise  in 1908. It&rsquo;s fifth and current  spiritual head, <a href="http://www.alislam.org/khilafat/fifth/">Mirza Masroor Ahmad</a>, resides in the United Kingdom. Under the leadership of its spiritual successors, Ahmadiyya Muslim Community has now built over 15,000 mosques, over 500 schools, and over 30 hospitals. It has translated  the <a href="http://www.alislam.org/quran/">Holy Quran</a> into over 70 languages. It propagates the true teachings of Islam and the message of peace  and tolerance through a twenty-four hour satellite television channel (<a href="http://www.mta.tv">MTA</a>), the Internet (<a href="http://www.alislam.org">alislam.org</a>)  and print (Islam International Publications). It has been at the forefront of worldwide disaster relief through  an independent charitable organization, <a href="http://humanityfirst.org/">Humanity First</a>.
        </p>

    </div>
    </section>

           
          