﻿@using ami.Models;
@model ami.Models.AmiModel
<link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Contact Us";
}
<br />
@{
    var id=Model.id;
    if (Model.contect.saved)
    {
    <label class="viewname">
        <b>We got your Message. We will get back to you shortly
            <br />
            <br />
        </b>
    </label>
    
    }
}
<div class="f1">
    <div class="fl">
        <div class="address">
            <label class="viewname">
                @Html.Raw(HttpUtility.HtmlDecode(Model.address))<br />
            </label>
        </div>
        <div class="mulmed1">
            @Html.Raw(HttpUtility.HtmlDecode(Model.mapLocation))
        </div>
    </div>
    <div>
        @using (Html.BeginForm("SaveContactUs", "Home"))
        {
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Contact Us</legend>
                <div class="editor-label">
                    @Html.LabelFor(model => model.contect.Name)
                    @Html.HiddenFor(model => model.contect.chapterid)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.contect.Name)
                    @Html.ValidationMessageFor(model => model.contect.Name)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.contect.Email)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.contect.Email, new { maxlength = "100" })
                    @Html.ValidationMessageFor(model => model.contect.Email)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.contect.PhoneNo)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.contect.PhoneNo)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.contect.Message)
                </div>
                <div class="message-field">
                    @Html.TextAreaFor(model => model.contect.Message)
                    @Html.ValidationMessageFor(model => model.contect.Message)
                </div>
                <p>
                    <input type="submit" value="Submit" />
                </p>
            </fieldset>
        }
    </div>
</div>
