﻿@using ami.Models;
@model ami.Models.EventRegistrations
@{
    ViewBag.Title = "EventRegistration";
}
<link href="~/Content/Site.css" rel="stylesheet" />
@{
   
    var map = Model.mapLocation;
    Model.mapLocation = null;
    var eventID = Model.EventID;
}
<div>
    <section style="height:1000px;" >
        <div style="height:400px;">
            <!-- 1st row -->
            <article class="homepage-heading eventImg fl">
                <p>
                    <label class="viewname">@Html.Raw(HttpUtility.HtmlDecode(Model.title))</label>
                    <br />
                    <br />
                    @Html.Raw(HttpUtility.HtmlDecode(Model.details))
                    <br />
                    <br />
                    <label class="viewname">
                        Date :
                    </label>
                    @Html.Raw(HttpUtility.HtmlDecode(Model.date))
                    <br />
                    <br />
                    <label class="viewname">
                        Time :
                    </label>
                    @Html.Raw(HttpUtility.HtmlDecode(Model.startTime))
                    <label class="viewname">
                        To
                    </label>
                    @Html.Raw(HttpUtility.HtmlDecode(Model.endTime))
                    <br />
                    <br />
                    <label class="viewname">
                        Location :
                    </label>
                    @Html.Raw(HttpUtility.HtmlDecode(Model.location))
                    <br />
                    <br />
                    @if (Model.detailFile!=null)
                    {
                        <a href="~/Content/Documents/@Model.detailFile" target="_blank">Event Details</a>
                        <br />
                    }
                    @if (Model.alislamLink!=null)
                    {
                        <a href="@Model.alislamLink">Details on Alislam.org</a>
                        <br />
                    }
                    @if (Model.mtaLink!=null)
                    {
                        <a href="@Model.mtaLink">Details on Mta</a>
                        <br />
                    }
                    @if (Model.youtubeLink!=null)
                    {
                        <a href="@Model.youtubeLink">Details on YouTube</a>
                        <br />

                    }

                </p>
            </article>
            <article class="eventImg fr">
                <p>
                    <img src="~/Images/Events/@Model.Image" class="eventImg" />
                </p>
            </article>
        </div>
        <div>
            <article class="homepage-heading eventImg fl">
              @{  if (Model.saved)
                {
                <label class="viewname">
                    Thank you for registering . We will get back to you shortly
                </label>
                <br />
                <br />
                }
                }
              @using (Html.BeginForm("SaveEventRegistration", "Home",Model))
                    {
                        @Html.ValidationSummary(true)

                        <fieldset>
                            <legend>Event Registration</legend>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Name)
                            </div>
                            <div class="editor-field">
                                @Html.TextBox("Name")
                            </div>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Email)
                            </div>
                            <div class="editor-field">
                                @Html.TextBox("Email")
                            </div>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.PhoneNo)
                            </div>
                            <div class="editor-field">
                                @Html.TextBox("PhoneNo")
                            </div>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.NumberOfPersons)
                            </div>
                            <div class="editor-field">
                                @Html.TextBox("NumberOfPersons")
                            </div>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Message)
                            </div>
                            <div class="message-field">
                                @Html.TextArea("Message")
                                @Html.Hidden("EventID",eventID)
                            </div>
                            <p>
                                <input type="submit" value="Submit" />
                            </p>
                        </fieldset>
                    }

            
            </article>


            <article style="margin-top:10px;" class="fr">

           
                        @Html.Raw(HttpUtility.HtmlDecode(map))
                  
               
            </article>
        </div>
    </section>
</div>
<!---->
