﻿@{
    ViewBag.Title = "Ahmadiyya Muslim Community Seattle";
}

@using DayPilot.Web.Mvc;
@using DayPilot.Web.Mvc;
@using DayPilot.Web.Mvc.Events.Month;

<div id="slides">
    <div class="slides_container">
        <div>
            <img src="~/Images/SlideImages/slide1.jpg" alt="" id="slide" />
        </div>
    </div>
</div>
<label class="viewname">
    Home</label>
<section id="three-third" class="home">
    <!-- 1st row -->
    <article class="homepage-heading two-articles-per-row fl">
        <h3>
            Twitter</h3>
        <p>
            @Html.Raw(HttpUtility.HtmlDecode(Model.twitterWidget))
        </p>
    </article>
    <article class="two-articles-per-row fr">
        <!--<header>-->
        <h3>
            Calendar
        </h3>
        <div id="dpm" style="width:300px" ></div>
    </article>
    <h3 class="clr mulmedbox">
        Watch latest videos from our Media Library</h3>
    <article class="clr one-articles-per-row">
        <div class="fl">
            <div class="mulmed1">
                <script src="http://www.google.com/ig/ifr?url=http://www.google.com/ig/modules/youtube.xml&up_channel=RaheHudaArchives1&amp;synd=open&amp;w=320&amp;h=390&amp;title=&amp;output=js"></script>
                
            </div>
        </div>
        <div class="fl">
            <div class="mulmed2">
                <script src="http://www.google.com/ig/ifr?url=http://www.google.com/ig/modules/youtube.xml&amp;up_channel=mtaOnline1&amp;synd=open&amp;w=320&amp;h=390&amp;output=js"></script>
            </div>
        </div>
        <br class="clr">
    </article>
</section>
<script type="text/javascript">
    var slideimages = new Array()
    function slideshowimages() {
        for (i = 0; i < slideshowimages.arguments.length; i++) {
            slideimages[i] = new Image()
            slideimages[i].src = slideshowimages.arguments[i]
        }
    }
   
        slideshowimages("/test/Images/SlideImages/slide1.jpg", "/test/Images/SlideImages/slide2.png", "/test/Images/SlideImages/slide3.png", "/test/Images/SlideImages/slide3.png", "/test/Images/SlideImages/slide4.png")
    var slideshowspeed = 3000
    var whichimage = 0
    function slideit() {
        if (!document.images)
            return
        document.images.slide.src = slideimages[whichimage].src
        if (whichimage < slideimages.length - 1)
            whichimage++
        else
            whichimage = 0
        setTimeout("slideit()", slideshowspeed)
    }
    slideit()

</script>
<script src="~/Scripts/jquery-1.6.2.min.js"></script>
<script src="~/Scripts/DayPilotLiteMVC/daypilot-common.src.js"></script>
<script src="~/Scripts/DayPilotLiteMVC/daypilot-month.src.js"></script>
<script src="~/Scripts/DayPilotLiteMVC/daypilot-modal.src.js"></script>
<script type="text/javascript">
    $(function () {
      
        $("#dpm").daypilotMonth({
            backendUrl: '@Url.Content("~/Home/Calendar")',

           
            eventClickHandling: 'JavaScript',
            onEventClick: function (args) {
                var eventId = args.eventPart.event.Value;
               


                var modal = new DayPilot.Modal();
                modal.width = 1000;
                
                modal.showUrl('@Url.Content("~/Home/EventDetails/")' + eventId);
            }
        });
    });


 
</script>